psycopg2-binary==2.9.5
redis[hiredis]==4.5.1
sqlalchemy==2.0.3
pydantic==1.10.4
flask==2.2.2
flask-restx==1.0.6
flask-sqlalchemy==3.0.3
Flask-Injector==0.14.0
Flask-JWT-Extended==4.4.4
flask-migrate==4.0.4
