POSTGRES_PASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=auth_database
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_PORT=6379
REDIS_HOST=redis
SERVICE_URL=http://api:5000
FLASK_APP=main.py
JAEGER_ENABLE=0
